<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated tests -->
      <package
            uri="http://tests/1.0"
            class="org.eclipse.emf.db.tests.model.ModelPackage"
            genModel="model/tests.genmodel"/>
   </extension>

</plugin>
