<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.importer.modelImporterDescriptors">
      <modelImporterDescriptor
            icon="icons/db.png"
            id="org.eclipse.emf.importer.db"
            name="DB-EMF"
            wizard="org.eclipse.emf.importer.db.ui.DBModelImporterWizard">
      </modelImporterDescriptor>
   </extension>

</plugin>
